@model OrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body card-block">
            <form method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.Id" class=" form-control-label">Id</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.Id" readonly class="form-control">
                    </div>
                </div>
                <input asp-for="@Model.Order.UserId" hidden/>
                <input asp-for="@Model.Order.Created" hidden />


                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class=" form-control-label">User</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input value="@ViewBag.User" readonly class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.FullName" class=" form-control-label">Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.FullName" class="form-control">
                        <span asp-validation-for="@Model.Order.FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.Address" class=" form-control-label">Address</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.Address" class="form-control">
                        <span asp-validation-for="@Model.Order.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.PhoneNumber" class=" form-control-label">Phone</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.PhoneNumber" class="form-control">
                        <span asp-validation-for="@Model.Order.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.Tax" class=" form-control-label">Tax</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.Tax" readonly class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.Total" class=" form-control-label">Total</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.Total" readonly class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.TotalPrice" class=" form-control-label">TotalPrice</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.TotalPrice" readonly class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.Discount" class=" form-control-label">Discount</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.Discount" readonly class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="@Model.Order.Payment" class=" form-control-label">Payment</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="@Model.Order.Payment" readonly class="form-control">
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <div class="col-6 col-md-3 py-3 mx-auto">


                        <button class="btn btn-outline-light form-control rounded-4 shadow " type="submit">
                            Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3 py-3 mx-auto">
                        <a asp-action="Index" class="btn btn-outline-warning form-control rounded-4 shadow">
                            Return
                        </a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

