@model Tuple<IEnumerable<Melodic.Domain.Entities.Order>, IEnumerable<Melodic.Domain.Entities.OrderDetail>>
@{
    ViewData["Title"] = "ViewAll";
}
@*div class="view-all">
    <partial name="_ViewPartial"></partial>
</div>*@
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Managements</a></li>
                            <li class="active">Orders</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display:flex;justify-content:space-between">
                        <div class="col-6">
                            <form asp-controller="Order" asp-action="Index" method="get" style="display:inline;margin-left:6rem;">
                                <div>
                                    <fieldset class="form-group d-inline-flex pr-2">
                                        <div style="margin-right: 1rem;">
                                            <span style=" font-weight: 700;">Status:</span>
                                            <select class="form-select mr-1" id="basicSelect" name="Status">
                                                <option value="">All</option>
                                                <option value="Delivering">Delivering</option>
                                                <option value="Delivered">Delivered</option>
                                                <option value="Cancel">Cancel</option>
                                                <option value="Transaction failed">Transaction failed</option>
                                            </select>
                                        </div>
                                        <div>
                                            <div>
                                                <input type="text" name="SearchString" placeholder="Searching..." class="input-css" style="border: 1px solid #dce7f1;border-radius: .25rem;padding: 2px;" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div style="margin-bottom:1rem">
                                    <span style=" font-weight: 700;">From date:</span> <input type="date" id="birthdaytime" name="fromDate" style="
                                                                    border: 1px solid;
                                                                    border-radius: 7px;
                                                                    padding: 2px;
                                                                ">
                                    <span style=" font-weight: 700;">To date:</span> <input type="date" id="birthdaytime" name="toDate" style="
                                    border: 1px solid;
                                    border-radius: 7px;
                                    padding: 2px;
                                ">
                                </div>
                                <button type="submit" class="btn btn-danger h-25 w-25">Tìm kiếm</button>
                            </form>

                        </div>
                        <div class="col-6 m-2 d-flex flex-row-reverse" style="position: absolute; right: 0; top: 4rem">
                            <div style="position: relative; right: 12rem;">
                                <a asp-area="Admin" asp-controller="Order" asp-action="Create" style=" padding: 16px 28px" class="btn btn-outline-dark">
                                    <i class="bi bi-plus-circle"></i>  Create
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>CreateDate</th>
                                    <th>Address</th>
                                    <th>PhoneNumber</th>
                                    <th>Total</th>
                                    <th>Email</th>
                                    <th>FullName</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    @foreach (var item in Model.Item1)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Code</td>
                                            <td>@item.Created</td>
                                            <td>@item.Address</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.Total.Value.ToString("#,##VNĐ")</td>
                                            <td>@item.Email</td>
                                            <td>@item.FullName</td>
                                            <td>
                                                @if (item.StatusId == 1)
                                                {
                                                    <span class="badge bg-primary text-white">Delivering</span>
                                                }
                                                @if (item.StatusId == 2)
                                                {
                                                    <span class="badge bg-success text-white">Delivered</span>
                                                }
                                                @if (item.StatusId == 3)
                                                {
                                                    <span class="badge bg-danger text-white">Transaction failed</span>
                                                }
                                                @if (item.StatusId == 4)
                                                {
                                                    <span class="badge bg-danger text-white">Cancel</span>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var item2 in Model.Item2)
                                                {
                                                    @if (item.Id == item2.OrderId)
                                                    {
                                                        <button style="border: none; background: none;" onclick="showInPopup('@Url.Action("Details", "OrderDetail", new { id = item2.Id })','Details')"><i title="Chi tiết hoá đơn" class="ti-receipt" style="font-size: 23px; color: #34e1cf"></i></button>
                                                    }
                                                }
                                            </td>
                                            <td style="text-align:unset !important">
                                                <div>

                                                    @if (item.StatusId == 2)
                                                    {
                                                        <button style="display:none;" onclick="showInPopup('@Url.Action("Edit", "Orders", new { id = item.Id })','Edit')"><i title="edit" class="fas fa-edit" style="font-size: 23px; color: #415ebf "></i></button>
                                                        <form asp-action="Delete" asp-route-id="@item.Id" class="d-inline">
                                                            <button value="@item.Id" class="delete-button btn btn-danger btn-sm">
                                                                <span class="ti-eraser text-white"></span>
                                                            </button>
                                                        </form>
                                                    }
                                                    @if (item.StatusId == 4)
                                                    {
                                                        <button style="display:none;" onclick="showInPopup('@Url.Action("Edit", "Orders", new { id = item.Id })','Edit')"><i title="edit" class="fas fa-edit" style="font-size: 23px; color: #415ebf "></i></button>
                                                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                                            <button type="submit" title="delete" style="border: none; background: none; padding: 0 !important"><i class="fas fa-trash-alt" style="font-size:23px;color:crimson"></i></button>
                                                        </form>
                                                    }

                                                </div>
                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" style="color:crimson">No data ! <i class="far fa-frown"></i>
                                    </tr>

                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@*@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
