@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
       
    }

    .padding {
        padding: 2rem !important;
    }

    .card {
        margin-bottom: 30px;
        border: none;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
        -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
        box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    }

    .card-header {
        background-color: #fff;
        border-bottom: 1px solid #e6e6f2;
    }

    h3 {
        font-size: 20px;
    }

    h5 {
        font-size: 15px;
        line-height: 26px;
        color: #3d405c;
        margin: 0px 0px 15px 0px;
        font-family: 'Circular Std Medium';
    }

    .text-dark {
        color: #3d405c !important;
    }
</style>
<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
    <div class="card">
        <div class="card-header p-4">
         
            <div class="float-right">
                <h3 class="mb-0">Invoice #@ViewBag.id</h3>

            </div>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h5 class="mb-3">From:Melodic Audio</h5>
                    <h3 class="text-dark mb-1">Viet Nam</h3>
                    <div>FPT Quy Nhon University </div>
                    <div>Quy Nhon, Binh Dinh</div>
                    <div>Email: melodicaudio@gmail.com</div>
                    <div>Phone: +91 9897 989 989</div>
                </div>
                <div class="col-sm-6 ">
                    <h5 class="mb-3">To:</h5>
                    
                    <div><span class="text-dark mb-1">FullName :@ViewBag.fullname</span></div>
                    
                    <div><span class ="text-dark mb-1">Address :@ViewBag.address</span></div>

                  
                    <div><span class="text-dark mb-1">Phone: @ViewBag.phonenumber</span></div>
                    <div><span class="text-dark mb-1">Date Created: @ViewBag.Date</span></div>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                          
                            <th>Name</th>
                            <th class="right">Price</th>
                            <th class="center">Quantity</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                          @foreach (var speaker in ViewBag.speakers)
                    {
                        var cartItem = (ViewBag.cartitem as List<Melodic.Domain.Entities.Cart>).FirstOrDefault(item => item.IdSpeaker == speaker.Id);
                        if (cartItem != null)
                        {
                            var totalPriceForSpeaker = speaker.Price * cartItem.Quantity;

                        <tr>
                      
                                    <td class="left strong"> @speaker.Name</td>
                                    <td class="right">@speaker.Price</td>
                                    <td class="center"> @cartItem.Quantity</td>
                                    <td class="right">$@totalPriceForSpeaker</td>
                        </tr>
                        }}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                </div>
                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Total Price</strong>
                                </td>
                                <td class="right">@ViewBag.totalprice</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Discount </strong>
                                </td>
                                <td class="right">@ViewBag.discount</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">VAT </strong>
                                </td>
                                <td class="right">@ViewBag.tax</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Total</strong>
                                </td>
                                <td class="right">
                                    <strong class="text-dark">@ViewBag.total</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white">
        </div>
    </div>
</div>