@model PaginatedList<Speaker>

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Managements</a></li>
                            <li class="active">Product</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display:flex;justify-content:space-between">
                        <div>
                            <strong class="card-title">Product</strong>
                        </div>
                        <div>
                            <a asp-action="CreateAndUpdate" class="btn btn-outline-dark">
                                <i class="bi bi-plus-circle"></i>  Create New Brand
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Brand</th>
                                    <th>Image</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Price.ToString("c")</td>
                                        <td>@item.Decription</td>
                                        <td>@item.Brand.Name</td>
                                        <td style="width:15%">
                                            <img src="@item.Img">
                                        </td>
                                        <td style="width:20%;">
                                            <div style="display:flex;justify-content:space-evenly">
                                                <a asp-action="CreateAndUpdate" asp-route-id="@item.Id" class="btn btn-success btn-sm ">
                                                    <span class="ti-eraser text-white"> Edit</span>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                                    <span class="ti-pencil-alt text-white"> Delete</span>
                                                </a>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @{
                            var previous = !Model.HasPreviousPage ? "disabled" : "";
                            var next = !Model.HasNextPage ? "disabled" : "";
                        }
                        <p>Page @Model.PageIndex / @Model.TotalPages</p>
                        <nav aria-label="...">
                            @* <ul class="pagination datatable-pagination-list" id="pagination"></ul> *@
                            <ul class="pagination">
                                <li class="page-item @previous ">
                                    <a class="page-link " asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)">Previous</a>
                                </li>
                                @for (int x = 1; x <= Model.TotalPages; x++)
                                {
                                    @if (Model.PageIndex == x)
                                    {
                                        <li class="page-item bg-dark ">
                                            <a class="page-link active text-white bg-dark"
                                               asp-action="Index"
                                               asp-route-pageNumber="@x">
                                                @x
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item ">
                                            <a class="page-link text-dark" asp-action="Index" asp-route-pageNumber="@x">
                                                @x
                                            </a>
                                        </li>
                                    }
                                }
                                <li class="page-item @next ">
                                    <a class="page-link " asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <form hidden id="page-form" asp-action="Index" method="get">
                        <input id="page-index" name="pageNumber" />
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_CustomPaging" />
    }
}