@using Melodic.Domain.Entities;
@model Speaker


<link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
<div class="bg-b--crumb">
    <div class="container b-crumb-contaier">
        <!-- Breadcrumb -->
        <nav class="d-flex">
            <h6 class="mb-0">
                <a class="b-crumb-item" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door detail-icon"></i>&nbsp; Home</a>
                <span class="text-black-50 mx-2 fw-bolder">/</span>
                <a class="b-crumb-item" asp-area="" asp-controller="Store" asp-action="Index"><i class="bi bi-shop detail-icon"></i>&nbsp; Store</a>
                <span class="text-black-50 mx-2 fw-bolder">/</span>
                <a href="" class="b-crumb-item"><i class="bi bi-speaker detail-icon"></i>&nbsp; Detail</a>
                <span class="text-black-50 mx-2 fw-bolder">/</span>
                <a href="" class="b-crumb-item is-active">@Model.Name</a>
            </h6>
        </nav>
        <!-- Breadcrumb -->
    </div>
</div>


<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-7">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">

                    <img style="max-width: 70%; max-height: 60vh; margin: auto;" class="rounded-4 fit" src="@Model.Img" />
                </div>


                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-5">
                <div class="ps-lg-3">
                    <h4 class="detail-name">
                        @Model.Name <br />

                    </h4>
                    <p>
                        @Model.Decription.
                    </p>

                    <div class="mb-3">
                        <span class="fw-light">Price: </span>
                        <span class="h5" style="color: #f04e27">@Model.Price.ToString("##,# VND")</span>
                        <span class="text-muted">/per item</span>
                    </div>

                    
                    <p class="fw-light">Quantity: <span class="fw-bold " style="font-size: 20px;" >@Model.UnitInStock</span></p>

                    <p class="fw-light">Brand: <span class="fw-bold">@Model.Brand.Name</span></p>


                    <br />
                    <hr />

                    <br />
                    <a style="width: 100%" class="btn card-btn" onclick="AddToCart(@Model.Id)"><span><i class="bi bi-cart3 fw-bold">&nbsp; Add To Card</i></span></a>

                </div>
            </main>
        </div>
    </div>
    <div style=" border-top: 1px solid; margin-top: 100px;"></div>
    <div class="row" style="margin: 10px 15px;">
        <h1>Similar Items</h1>
        @foreach (var speaker in ViewBag.Brands)
        {

            <div class="col-lg-3 col-md-4 col-sm-4">

                <div class="card my-2 shadow-0" style="min-height: 565px;  box-shadow: -1px 3px 9px 0px rgba(0, 0, 0, 0.35);">
                    <a href="#" class="">

                        <img src="@speaker.Img" style="min-height: 304px;" class="card-img-top rounded-2" />
                    </a>
                    <div class="card-body p-0 pt-3">
                        <a style="width: 100%" class="btn buy-btn" onclick="AddToCart(@speaker.Id)"><i class="bi bi-cart3 fw-bold">&nbsp; Add To Card</i></a>
                        <h5 class="card-title" style="margin-top: 10px;">
                            <a asp-controller="Store" asp-action="Detail" asp-route-id="@speaker.Id" class="text-decoration-none ellipsis-text-name" style="color: black; margin-left: 15px;  ">@speaker.Name</a>
                        </h5>
                        <p class="home-des" style=" display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; margin-left: 15px;">@speaker.Decription</p>

                        <h6 style="margin-left: 15px;"><span class="fw-lighter">Price: </span><span style="color: #f04e27; font-size: 20px;">@speaker.Price.ToString("##,# VND")</span></h6>
                        <h6 style="margin-left: 15px;"><span class="fw-lighter">Quantity: </span><span style="font-size: 20px;">@speaker.UnitInStock</span></h6>

                        <p class="">
                            <span class="text-muted" style="margin-left: 15px;">Brands: </span>@speaker.Brand.Name
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>



<script>
    function AddToCart(id) {
        $.ajax({
            type: 'POST',
            url: '/Customer/Cart/AddToCart',
            data: {
                id: id
            },
            success: function (response) {
                if (response.success) {
                    // Hiển thị thông báo thành công
                    var successToast = new bootstrap.Toast(document.getElementById('successToast'));
                    var message = response.message; // Lấy nội dung từ response

                    // Đặt nội dung cho thông báo bằng cách sử dụng Bootstrap methods
                    successToast._element.querySelector('.toast-body').innerText = message;

                    successToast.show();

                    // Tự động ẩn thông báo sau 5 giây (5000 ms)
                    setTimeout(function () {
                        successToast.hide();
                    }, 2000); // Thời gian tồn tại ở đây là 5 giây
                } else {
                    var failToast = new bootstrap.Toast(document.getElementById('failToast'));
                    var message = response.message; // Lấy nội dung từ response

                    // Đặt nội dung cho thông báo bằng cách sử dụng Bootstrap methods
                    failToast._element.querySelector('.toast-body').innerText = message;

                    failToast.show();

                    // Tự động ẩn thông báo sau 5 giây (5000 ms)
                    setTimeout(function () {
                        failToast.hide();
                    }, 2000); // Thời gian tồn tại ở đây là 5 giây var successToast = new bootstrap.Toast(document.getElementById('successToast'));
                    var message = response.message; // Lấy nội dung từ response

                    // Đặt nội dung cho thông báo bằng cách sử dụng Bootstrap methods
                    failToast._element.querySelector('.toast-body').innerText = message;

                    failToast.show();

                    // Tự động ẩn thông báo sau 5 giây (5000 ms)
                    setTimeout(function () {
                        failToast.hide();
                    }, 2000); // Thời gian tồn tại ở đây là 5 giây
                }
            },
            error: function (errorResponse) {
                alert("An error occurred while adding the product to the cart. Error: " + errorResponse.responseText);
            }
        });
    }
</script>

<div class="position-fixed bottom-0 end-0 p-3" id="popupContainer">
    <div class="toast rounded" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
        </div>
    </div>
    <div class="toast roundeds" id="failToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
        </div>
    </div>
</div>

<style>
    /* CSS tùy chỉnh cho thông báo toast */
    .toast.rounded {
        border-radius: 25px; /* Điều này tạo ra góc tròn */
        background-color: #28a745; /* Màu nền cho thông báo thành công */
    }

    /* CSS tùy chỉnh cho nội dung của thông báo */
    .toast-body {
        font-weight: bold; /* Chữ in đậm */
        color: #fff; /* Đổi màu chữ */
    }

    .toast.roundeds {
        border-radius: 25px; /* Điều này tạo ra góc tròn */
        background-color: #dc3545; /* Màu nền cho thông báo thành công */
    }

    /* CSS tùy chỉnh cho nội dung của thông báo */
    .toastfail-body {
        font-weight: bold; /* Chữ in đậm */
        color: #fff; /* Đổi màu chữ */
    }

    #popupContainer {
        z-index: 1000; /* Ensure it appears above other content */
    }
</style>



