@using Melodic.Web.ViewsModel;
@model StoreViewModel


<link rel="stylesheet" href="~/css/Store.css" asp-append-version="true" />
<section class="container mt-4">

    <form asp-action="Index" asp-controller="Store" method="get" id="filter-form">
        <input hidden name="searchterm" value="@Model.RequestParameters?.SearchTerm" />
        <div class="row">
            <div class="col-lg-2">
                <div class="d-flex text-center">
                    <i class="bi bi-funnel col-lg-1"></i>
                    <h5 class="col-lg-11">SEARCH FILTER</h5>
                </div>
                <!-- Sidebar -->
                <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <!-- brand -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-dark bg-light "
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo"
                                        style="font-size:18px;">

                                    Brands
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                <div class="accordion-body">
                                    <div>
                                        <!-- Checked radio -->
                                        @foreach (var brands in Model.Brands!)
                                        {
                                            var brandid = brands.Id;
                                            if (brandid == Model.RequestParameters!.BrandId)
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input" onclick="document.getElementById('filter-form').submit();" type="radio" name="brandid" value="@brandid" id="@brandid" checked>
                                                    <label class="form-check-label" for="@brandid">
                                                        @brands.Name
                                                    </label>
                                                </div>
                                            }
                                            else

                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input" onclick="document.getElementById('filter-form').submit();" type="radio" name="brandid" value="@brandid" id="@brandid">
                                                    <label class="form-check-label" for="@brandid">
                                                        @brands.Name
                                                    </label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sort type -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button text-dark bg-light"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree"
                                        aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree"
                                        style="font-size:18px;">
                                    Price Range
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                                @* price range *@
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
                                    <div class="accordion-body">
                                        <div class="d-block priceinput text-center">
                                            <label asp-for="RequestParameters!.MinPrice">Min: </label>
                                            <input asp-for="RequestParameters!.MinPrice" type="number" oninput="validity.valid||(value='');"
                                                   name="minprice" class="price-input-form " onfocus="this.select();" placeholder="Min Price">
                                            @*  <span asp-validation-for="RequestParameters!.MinPrice" class="text-danger"></span> *@

                                            <label asp-for="RequestParameters!.MaxPrice">Max: </label>
                                            <input asp-for="RequestParameters!.MaxPrice" type="number" oninput="validity.valid||(value='');"
                                                   name="maxprice" class="price-input-form " onfocus="this.select();" placeholder="Max Price">
                                            @*  <span asp-validation-for="RequestParameters!.MaxPrice" class="text-danger"></span> *@
                                        </div>
                                        <button class="btn price-sort" type="submit">APPLY</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--rating-->

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-dark bg-light "
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo"
                                        style="font-size:18px;">

                                    Rating
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ratestar" id="flexCheckDefault">
                                        <div class="small-ratings">
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ratestar" id="flexCheckDefault">
                                        <div class="small-ratings">
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill "></i>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ratestar" id="flexCheckDefault">
                                        <div class="small-ratings">
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill "></i>
                                            <i class="bi bi-star-fill "></i>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ratestar" id="flexCheckDefault">
                                        <div class="small-ratings">
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ratestar" id="flexCheckDefault">
                                        <div class="small-ratings">
                                            <i class="bi bi-star-fill rating-color"></i>
                                            <i class="bi bi-star-fill "></i>
                                            <i class="bi bi-star-fill "></i>
                                            <i class="bi bi-star-fill "></i>
                                            <i class="bi bi-star-fill "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- voucher type -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-dark bg-light "
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo"
                                        style="font-size:18px;">

                                    Service and Promotion
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                <div class="accordion-body">
                                    <div>
                                        <!-- Checked radio -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="promotion" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                On sales
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="promotion" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Free Shipping
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="promotion" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                On sale
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a asp-action="index" asp-controller="store" asp-route-searchterm="@Model.RequestParameters.SearchTerm" class="btn clear-btn">CLEAR ALL</a>
                    </div>
                </div>
            </div>
            <main class="col-lg-10">
                <div class="row">
                    @if (Model.Speakers != null)
                    {
                        <nav class="navbar navbar-expand-sm bg-light mb-3">
                            <div class="container-fluid">
                                <ul class="navbar-nav">
                                    <li class="nav-item btn pe-none">
                                        <span class="btn pe-none">Sort by</span>
                                    </li>
                                    <li class="nav-item btn btn-light">
                                        <button name="orderby" type="submit" value="" class="btn btn-light btn-white">Latest</button>
                                    </li>
                                    <li class="nav-item btn btn-light">
                                        <button name="orderby" type="submit" value="" class="btn btn-light btn-white">Top sales</button>
                                    </li>
                                    <li class="nav-item dropdown btn btn-light" style="width: 180px;">
                                        <button class="nav-item  btn btn-light btn-white dropdown-toggle text-start" style="width: inherit !important;"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Price
                                        </button>
                                        <ul class="dropdown-menu" style="width: inherit !important;">
                                            <li><button class="nav-item  btn btn-light btn-white " name="orderby" type="submit" value="">Price: Low to High</button></li>
                                            <li><button class="nav-item  btn btn-light btn-white " name="orderby" type="submit" value="price_desc">Price: High to Low</button></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                        foreach (var speaker in Model.Speakers.Items)
                        {
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <img src="@speaker.Img" class="card-img-top img-hover" alt="Product @speaker.Id" width="259px" height="261px">
                                    <div class="card-body">
                                        <div>
                                            <h5 class="card-title">
                                                <a asp-controller="Store" asp-action="Detail" asp-route-id="@speaker.Id" class="text-decoration-none  ellipsis-text" style="color: black  ">@speaker.Name</a>
                                            </h5>
                                            <p class="card-text ellipsis-text" style="height: 48px">@speaker.Decription</p>
                                            <p class="card-price">Price: @speaker.Price Đ</p>
                                        </div>

                                        <div class="">
                                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@speaker.Id" class="btn btn-primary shadow-0 me-1 icon_1"><i class="bi bi-cart3"></i></a>
                                            <a asp-controller="Store" asp-action="Detail" asp-route-id="@speaker.Id" class="btn btn-primary shadow-0 me-1 icon_1"><i class="bi bi-info-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                         <ul class="pagination" id="pagination"></ul>
                        <input hidden id="page-index" name="pageNumber" />
                    }
                </div>
            </main>
        </div>
    </form>
</section>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $('#pagination').jqPaginator({
            totalPages: @Model.Speakers.TotalPages,
            visiblePages: 5,
            currentPage: @Model.Speakers.PageIndex,
            prev: '<li class="page-item"><a class="page-link" href="javascript:;">‹</a></li>',
            next: '<li class="page-item"><a class="page-link" href="javascript:;">›</a></li>',
            page: '<li class="page-item"><a class="page-link" href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num) {
                if (this.currentPage != num) {
                    $('#page-index').val(num),
                        $('#filter-form').submit()
                }
            }
        });
    </script>
}